div {
    text-align: center;
}
#calculator {
    padding-top: 250px;
    text-align: center;
}
div.Buttons {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    padding: 10px 15px 0 15px;
    border-radius: 10px;
    border-color: #797979;
}
button {
    -webkit-appearance: button;
    height: 40px;
    width: 50px;
    border: none;
    background-color: #efefef;
    color: #797979;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    text-transform: none;
}
#DELETE {
    width: 100px;
}
#DISPLAY {
    text-align: right;
    border-style: solid;
    border-width: 2px;
    border-color: #797979;
    border-radius: 5px;
    padding-right: 10px;
    font-size: 30px;
}